
body{
	font-family: $font-family;
}

.container{
	margin: 0 auto;
	width: 100%;
	background-image: url("https://i.pinimg.com/originals/ae/c8/87/aec8872c116518efcd87587ba4324bb3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}