
body{
	font-family: $font-family;
}


.container{
	margin: 0 auto;
	width: 100%;
	//background-image: url("http://photos3.meetupstatic.com/photos/event/3/5/0/4/highres_203293572.jpeg");
	//background-image: url("https://i.pinimg.com/originals/f4/6f/13/f46f137a92d4828fab38424649e60e52.jpg");
	background-image: url("https://i.pinimg.com/originals/ae/c8/87/aec8872c116518efcd87587ba4324bb3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}