.photo-card{
	display: flex;
	max-width: $main-width;
	width: 100%;
	justify-content: center;
	margin: 0 auto;
}

.section1{
	margin: 10px;
	height: 400px;
}

.section1 :last-child{
	margin-right: 0;
}

.avatar{
	width: 40%;
	display: flex;
	justify-content: center;
}

.photo{
	height: 100%;
	border-radius: 50%;
	transform: scale(1);
	transition: width 2s, height 2s, transform 2s;

	&:hover{
		width: 400px;
		height: 400px;
		transform: rotate(90deg);
	}
}	

.basic-information{
	width: 60%;
	display: flex;
	flex-direction: column;
	color: black;
}

.desing-information{
	width: 100%;
	font-family: 'Gloria Hallelujah', cursive;

	&-subtitle{
		font-size: 30px;
		color: black;
		font-family: 'Rochester', cursive;
	}

	&-text{
		padding-left: 15px;
		padding-bottom: 20px;
		font-size: 20px;
	}

	h3{
		font-size: 36px;
	}
}



.list-hobby{
	padding-left: 20px;
	display: flex;
	width: 100%;

	&-left{
		width: 50%;
		list-style-type: none;	
	}

	&-right{
		list-style-type: none;
	}
	
}

.icon{
	font-size: 15px;
	font-family: 'Gloria Hallelujah', cursive;
}